* { margin: 0; padding: 0; box-sizing: border-box; font: inherit}
body {
    font-family: system-ui, sans-serif;
    background-color: var(--titleBackgroundColor, white);
}
#output {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-bottom: 5rem;
    color: var(--output-text-color);
    font-size: 2rem;
    font-weight: bold;
}

#output > * {
    padding-inline: 1rem;
}
#output > .live {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--liveBackgroundColor, red);
    color: var(--liveTextColor, white);
}
#output > .time{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--timeTextColor, white);
    background-color: var(--timeBackgroundColor, black);
}
#output > .title{
    padding-bottom: 0.5rem;
    grid-column: span 2;
    color: var(--titleTextColor, red);
}

section{
    background-color: white;
    color: black;
    padding: 1rem;
    font-family: system-ui, sans-serif;
}
section * {
    font: inherit
}

label{
    padding: 0.5rem;
}
input[type="text"], textarea{
    padding: 0.5rem;
}
.settings{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 0.5rem 1rem;
}
textarea {
    grid-column: 2 / -1;
}
table{
    margin-top: 1rem;
}
td, th{
    text-align: left;
    padding: 0.25rem 0.5rem;
}

